* {
    outline: none;
    box-sizing: border-box;
}
.navbar-burger-warning {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 10px;
}
.grammar .tags .tag {
    cursor: pointer;
}
.grammar .columns > .column > .table {
    margin: 0 auto;
}
.grammar .columns > .column > .table th {
    text-align: center;
}
.grammar__form {
    margin-bottom: 20px;
}
@media (max-width: 768px) {
    .grammar .columns > .column > .table {
        width: 100%;
    }
}
